<div class="title">
    <h1>Title</h1>
    <form v-on:submit.prevent="addTitle()">
      <p>List ID: <input type="text" v-model="newListId"></p>
      <p>Title ID: <input type="text" v-model="newTitleId"></p>
      <p>Media Type: <input type="text" v-model="newMediaType"></p>
      <input type="submit" value="Add To List">
    </form>
    <h2>{{ title.title }}<img v-bind:src="baseUrlPoster + title.poster_path"></h2>
    <!-- <h4>Runtime:{{ title.runtime }}</h4> -->
    <h3>Summary: {{ title.overview }}</h3>
    <h3>Cast:</h3>
    <div v-for="cast in title.credits.cast">
      <p><router-link v-bind:to="'/person/' + cast.id + '/?media_type=person'">{{ cast.name }}</router-link> : {{ cast.character }}<img v-bind:src="baseUrlProfile + cast.profile_path"></p>
    </div>
    <!-- <button v-on:click="addTitle(title)">Add To List</button> -->
    <!-- <p>{{ title.credits.cast }}</p> -->
</div>