<div class="titles">
  <h1>All Titles</h1>
    <div v-for="title in titles.results">
      <!-- <h2>{{ title.title }}</h2> -->
      <h2>
        <div v-if="title.media_type === 'person'">
          <p><router-link v-bind:to="'/person/' + title.id + '/?media_type=person'">{{ title.name }}</router-link><img v-bind:src="baseUrlProfile + title.profile_path"></p>
        </div>
        <div v-else>
          <p><router-link v-bind:to="'/titles/' + title.id + '/?media_type=' + title.media_type">{{ title.title || title.original_name }}</router-link><img v-bind:src="baseUrlPoster + title.poster_path"></p>
        </div>
        <!-- <p><router-link v-bind:to="'/titles/' + title.id + '/?media_type=' + title.media_type">{{ title.title || title.original_name }}</router-link><img v-bind:src="baseUrlPoster + title.poster_path"></p> -->
          
      </h2>
    </div>
</div>