<div class="root">
    <!-- <p>Add New Title Option</p> -->
    <h1><p>{{ list.name }}</p></h1>
    <div v-for='title in list.titles'>
      <router-link v-bind:to="'/titles/' + title.body.id + '/?media_type=' + title.media_type">{{ title.body.original_title || title.body.original_name}}<img v-bind:src="baseUrlPoster + title.body.poster_path"></router-link>
    </div>
</div>


<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-1">
        <div class="breadcrumb-area-content">
          <h1>Now Showing {{  }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="transformers-area">
  <div class="container">
    <div>
      <div v-for="list in lists">
        <div class="transformers-box">
        <div class="row flexbox-center">
          <div class="col-lg-5 text-lg-left text-center">
              <div class="row flexbox-center">
                <div class="transformers-content">
                </div>
              <div class="col-md-10">
                <div class="transformers-content">
                  <h2><p><router-link v-bind:to="'/lists/' + list.id">{{ list.name }}</router-link></p></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>  
    </div>
  </div>
</section>
    